<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easypark.easypark">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/easy_park_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Homepage"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".garage_a" />
        <activity android:name=".garage_b" />
        <activity android:name=".garage_c" />
        <activity android:name=".garage_a_floor1" />
        <activity android:name=".garage_b_floor1" />
        <activity android:name=".garage_a_floor2" />
        <activity android:name=".garage_b_floor2" />
        <activity android:name=".garage_d"></activity>
    </application>

</manifest>